*{
    padding: 0%;
    margin: 0%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.cabecera {
    background-image: url("img/cabecera.jpg");
    height: 235px;
}
nav{
    background-color: black;
}
.nav--li{
    display: inline-block;
    padding: 12px;
    color: #fff;
}
.nav--li:hover{
    color: blue;
    cursor: pointer;
}
.nav--li a{
    text-decoration: none;
    color: #fff;
}
.nav--li a:hover{
    color: orange;
}
.nav--li i{
    width: 20px;
    box-sizing: border-box;
    text-align: right;
}
.i-right{
    float: right;
}
.cabecera-label{
    background-color: orange;
    border-radius: 15px;
    font-size: 20px;
    
}
.div-cabecera-label{
    text-align: center;
}
.div-container{
    text-align: center;
    padding: 30px;
    background-color:antiquewhite;
    font-size: 20px;
}
.p-centrado{
    padding-left: 25vw;
    /*padding-left: 300px;*/
    width: 50%;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.flex-container img{
    
    width: 250px;
    margin: 2px 1px;
    object-fit: cover;
}
.flex-container img:hover{
    opacity: 0.6;
}
#rotate1{
    -webkit-transform:rotate(-15deg);
    padding-top: 30px;
}
#rotate2{
    z-index: 1;
}
#rotate3{
    -webkit-transform:rotate(15deg);
    padding-top: 30px;
    z-index: 2;
}

/*Aqui inicia el CSS especifico del menu.html*/
.container-menu{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.container-menu img{
    width: 250px;
}
.card-menu{
    margin: 5px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 460ms ease;
}
.card-menu:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card-menu .contenido-menu{
    padding: 15px;
    text-align: center;
}

/*Esto será para el responsive de movil*/
@media only screen and (max-width: 1000px) {
    .nav--li a{
        display: none;
    }
    .i-right{
        float:inherit;
    }
    .cabecera-label{
        display: block;
        margin: 15px;
    }
    .div-container{
        padding: 5px;
        font-size: 15px;
    }
    .flex-container img{
        width: 150px;
    }
    .responsive-3 img{
        width: 90px;
    }
    #rotate1{
        padding-top:none;
    }
    #rotate3{
        padding-top:none;
        z-index:none;
    }
}
